{% extends 'base.html' %}

{% block title %}关于 - 江苏大学网络安全漏洞响应平台{% endblock %}

{% block body %}
  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">关于漏洞响应平台</h1>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>信息技术的飞速发展带来了极大的便利，对信息系统的依赖同时也带来了隐患。在高速推进信息化建设的进程中，
          网络安全关系到每一个用户的利益。信息安全作为校园信息化发展不可或缺的组成部分，也引起了我们的重视。</p>

        <p>本平台的建立是为了建设网络安全漏洞响应机制，督促相关责任部门尽量消除整改信息系统的安全漏洞，
          避免可能造成的后果；同时鼓励有实力的在校学生发挥网络安全方面的特长，
          学习知识的同时帮助信息化部门及时发现安全问题，提高信息安全攻防实战能力。</p>

      </div>
    </div>


  </div>
{% endblock body %}

