{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}漏洞详情 - {{ vul.title }} {% endblock %}

{% block body %}
  <div class="container m-t-1">
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">首页</a></li>
      <li class="active">漏洞详情</li>
    </ol>

    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <h1 class="m-b-1"><span class="small">{{ vul.title }}</span></h1>
          <hr>
        </div>
      </div>

      <div class="col-md-7">
        <dl class="dl-horizontal m-l-0 m-r-0">
          <dt class="col-xs-4 col-md-2 text-truncate">提交时间</dt>
          <dd class="col-xs-8 col-md-4 text-truncate">{{ vul.submitted | date:"Y-m-d H:i" }}</dd>

          <dt class="col-xs-4 col-md-2 text-truncate">状态</dt>
          <dd class="col-xs-8 col-md-4 text-truncate">{% include 'mixins/status.html' %}</dd>

          <dt class="col-xs-4 col-md-2 text-truncate">确认时间</dt>
          <dd class="col-xs-8 col-md-4 text-truncate">{{ vul.confirmed | date:"Y-m-d H:i" | default:"暂未" }}</dd>

          <dt class="col-xs-4 col-md-2 text-truncate">修复时间</dt>
          <dd class="col-xs-8 col-md-4 text-truncate">{{ vul.fixed| date:"Y-m-d H:i" | default:"暂未" }}</dd>

          {% if is_anonymous %}
            <dt class="col-xs-4 col-md-2 text-truncate">来源 IP</dt>
            <dd class="col-xs-8 col-md-4 text-truncate">{{ vul.ip }}</dd>

            <dt class="col-xs-4 col-md-2 text-truncate">作者邮箱</dt>
            <dd class="col-xs-8 col-md-4 text-truncate">{{ vul.email | default:'无' }}</dd>

          {% else %}
            <dt class="col-xs-4 col-md-2 text-truncate">作者</dt>
            <dd class="col-xs-8 col-md-4 text-truncate">
              <a href="{% url 'user_profile' uid=vul.author.id %}">{{ vul.author }}</a></dd>

          {% endif %}
        </dl>

        <div class="container">
          <hr>
          <p><strong>漏洞详情:</strong></p>
          <pre data-render="markd">{{ vul.detail }}</pre>
          <hr>
          <p><strong>管理员答复:</strong></p>
          <p>{{ vul.response }}</p>
        </div>

        <div class="container">
          <hr>

          <ul class="comments list-unstyled">
            {% for comment in comments %}
              <li>
                <img src="{{ comment.author.avatar }}?s=40" class="avatar" width="40" height="40">
                <div class="content">
                  <header>
                    <a href="{% url 'user_profile' uid=comment.author.user.id %}">{{ comment.author.user.username }}</a>
                    <time>{{ comment.timestamp }}</time>
                  </header>
                  <p>{{ comment.content }}</p>
                </div>

              </li>
            {% empty %}
              暂无评论
            {% endfor %}
          </ul>

          <form id="comment-form" class="m-t-1" method="post" action="{% url 'add_comment' vid=vul.id %}">
            <fieldset class="form-group">
              {{ comment_form.response.errors }}
              <textarea class="form-control" cols="40" maxlength="512" name="content"
                        placeholder="发表自己的看法" rows="2"></textarea>

            </fieldset>

            <fieldset class="form-group row">
              <div class="col-sm-7 m-b-1">
                {{ comment_form.captcha }}
                <span class="invalid-captcha">验证码错误</span>
              </div>
              <div class="col-sm-5 text-md-right">
                <button type="submit" class="btn btn-success">评论</button>
              </div>
            </fieldset>

            {% csrf_token %}

          </form>

        </div>

      </div>

      <div class="col-md-5">
        <div class="events">
          <ul class="timeline list-unstyled">
            <li>
              <time>{{ vul.submitted }}</time>

              {% if is_anonymous %}
                匿名用户 {{ vul.email }}
              {% else %}
                用户 <a href="{% url 'user_profile' uid=vul.author.id %}">{{ vul.author }}</a>
              {% endif %}
              报告了此问题
            </li>
            {% for event in events %}
              <li>
                <time>{{ event.timestamp }}</time>
                漏洞状态变更为

                {% if event.extra.status == 1 %}
                  已确认
                {% elif event.extra.status == 2 %}
                  已忽略

                {% elif event.extra.status == 3 %}
                  等待复查

                {% elif event.extra.status == 4 %}
                  已修复

                {% elif event.extra.status == 5 %}
                  已公开

                {% endif %}

              </li>
            {% endfor %}
          </ul>
        </div>

        {% if user.is_superuser %}
          <div class="container">

            <form class="m-t-1" method="post">
              {{ form.non_field_errors }}

              <div class="m-b-1">
                {{ form.response.errors }}
                <label for="id_response">答复</label>
                <textarea class="form-control" cols="40" id="id_response" maxlength="512" name="response"
                          placeholder="漏洞的评价、致谢和修复方案" rows="6">{{ vul.response }}</textarea>

                <fieldset class="form-group">
                  {{ form.score.errors }}
                  <label for="id_score">评分</label>
                  <input type="number" name="score" min=0 max=10 class="form-control" id="id_score"
                         value="{{ vul.score }}" placeholder="评分">
                  <small class="text-muted">按照漏洞危害评分，从 1 到 10</small>
                </fieldset>

                <fieldset class="form-group">
                  {{ form.status.errors }}
                  <label for="id_status">状态</label>
                  <select name="status" id="id_status" class="form-control">
                    {% for i, label in status_choices %}
                      <option value="{{ i }}" {% if i == vul.status %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                  </select>
                </fieldset>

                <fieldset class="form-group">
                  <button type="submit" class="btn btn-primary"><i
                      class="fa fa-check-circle-o"></i> 保存
                  </button>
                </fieldset>

              </div>

              {% csrf_token %}

            </form>
          </div>

        {% endif %}
      </div>

    </div>

  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/markd.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/captcha.js' %}"></script>

  <script type="text/javascript">
    $(function () {
      var $form = $('#comment-form');
      $form.on('submit', function (e) {
        e.preventDefault();
        $.post($form.attr('action'), $form.serialize())
            .done(function () {
              location.reload()
            })
            .fail(function () {
              $form.find('.invalid-captcha').show();
              $form.find('textarea').focus();
            })
      })
    });
  </script>

{% endblock %}