{% extends 'base.html' %}

{% block title %}信息安全相关保护和声明{% endblock %}

{% block body %}
  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">信息安全相关保护和声明</h1>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>对于在漏洞平台发布的漏洞，所有权归提交者所有。白帽子需要保证研究漏洞的方法、方式、工具及手段的合法性。</p>

        <p>在对校园网进行安全测试时必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用本平台进行任何违法或不正当的活动，包括但不限于下列行为∶

        <p>一、上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：</p>

        <ol>
          <li>反对宪法所确定的基本原则的；</li>
          <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
          <li>损害国家荣誉和利益的；</li>
          <li>煽动民族仇恨、民族歧视、破坏民族团结的；</li>
          <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
          <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
          <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
          <li>侮辱或者诽谤他人，侵害他人合法权利的；</li>
          <li>含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</li>
          <li>含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</li>
        </ol>

        <p>二、不得为任何非法目的而使用漏洞平台及漏洞平台提供的相关信息：</p>
        <ol>
          <li>不得利用漏洞平台进行任何可能对校园网正常运转造成不利影响的行为；</li>
          <li>不得利用漏洞平台提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</li>
          <li>不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</li>
        </ol>

        <p>三、不利用漏洞平台相关信息从事以下活动：</p>
        <ol>
          <li>未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</li>
          <li>未经允许，对计算机信息网络功能进行删除、修改或者增加的；</li>
          <li>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</li>
          <li>故意制作、传播计算机病毒等破坏性程序的；</li>
          <li>其他危害计算机信息网络安全的行为。</li>
        </ol>
      </div>


    </div>

  </div>
{% endblock body %}
