<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <style type="text/css">
    body {
      font-family: Helvetica, Verdana, Arial, sans-serif;
      font-size: 16px;
    }

    a {
      color: #4d7074;
      text-decoration: underline;
    }

    small,
    .footer {
      font-size: 75%;
      color: #999;
    }
  </style>
</head>

<body>

{% block body %}
{% endblock %}
  <p>&nbsp;</p>
  <p>江苏大学信息化中心</p>
  <hr>
  <p class="footer">本邮件由平台自动发送，请勿回复。<br>
    其他关于漏洞报告平台的更多详细信息请访问&nbsp;
    <a href="http://security.ujs.edu.cn/about" target="_blank">http://security.ujs.edu.cn/about</a></p>
</body>
</html>