{% extends 'mail/base.html' %}

{% block title %}邀请注册{% endblock %}

{% block body %}
<p>您好，</p>

<p>这是来自于江苏大学信息安全漏洞响应平台的一封邀请邮件，非常感谢您通过平台发布有价值的漏洞。<br/>
  很荣幸地邀请阁下为社区中的一员，您可以通过如下的链接来注册：</p>

<p><a href="{{ invite_url }}">{{ invite_url }}</a></p>
<p><small>（如链接无法点击，请手动复制到浏览器地址栏）</small></p>
<p>感谢您对江苏大学网络安全的贡献！</p>
<p>&nbsp;</p>
<p>江苏大学信息化中心</p>
<p>----------</p>
<p class="footer">本邮件由平台自动发送，请勿回复。<br>
  其他关于漏洞报告平台的更多详细信息请访问&nbsp;
  <a href="http://security.ujs.edu.cn/about" target="_blank">http://security.ujs.edu.cn/about</a></p>
{% endblock %}